// launcher
binds {
  Mod+X repeat=false { spawn "vicinae" "toggle"; }
}

layer-rule {
  match namespace=r#"^vicinae$"#
  background-effect {
    blur true
    xray false
  }
}

// vicinae settings
window-rule {
  match app-id="vicinae"
  background-effect {
    blur true
    xray false
  }
}

